.team-board {
    font-family: 'mavs_font', sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

.team-board img {
    height: 130px;
}

.team-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:  flex-start;
    
}

.team-board p {
    font-family: 'mavs_font', sans-serif;
    margin: 0;
    color: black;
    filter: drop-shadow(0 0 20px white);
    flex: 0 0 auto;
}

.board-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


.clock {
    display: flex;
    flex-direction: row-reverse;
}

.team-board:last-child {
    align-self: flex-end;
}